# Core LaTeX
*.aux *.log *.lof *.lot *.fls *.out *.toc *.fmt *.fot *.cb *.cb2

# PDF/DVI
*.pdf *.dvi *.xdv

# BibTeX
*.bbl *.blg *.bcf

# Build
*.fdb_latexmk *.synctex*.gz latex.out/

# Autres
*.nav *.snm *.vrb *.tdo
